<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net461" />
  <package id="Guna.Charts.WinForms" version="1.0.2" targetFramework="net461" />
  <package id="Guna.UI2.WinForms" version="2.0.2.5" targetFramework="net461" />
  <package id="Tesseract" version="3.0.2.0" targetFramework="net461" />
  <package id="Vintasoft.Imaging" version="10.1.8.1" targetFramework="net461" />
  <package id="Vintasoft.Imaging.Ocr" version="5.1.8.1" targetFramework="net461" />
  <package id="Vintasoft.Imaging.Ocr.Tesseract" version="5.1.8.1" targetFramework="net461" />
  <package id="Vintasoft.Shared" version="3.0.0.3" targetFramework="net461" />
</packages>